.pixel{
    background: blue;
    width: 200px;
    height: 200px;
}

.pixel1 {
    background: red;
    width: 300px;
    height: 200px;
}

.pixel2 {
    background:black;
    width: 400px;
    height: 200px;
}

.pixel3 {
    background: green;
    width: 500px;
    height: 200px;
}

.pixel4 {
    background:gold;
    width: 600px;
    height: 200px;
}

.relativo_pixel{
    font-size: 20px;
}
.porciento{
    background:chocolate;
    width: 50%;
    height: 50%;

}

.porciento1 {
    background:red;
    width: 75%;
    height: 75%;
}

.porciento2  {
    background: yellow;
    width: 100%;
    height: 100%;
}

.porciento5{
    background:greenyellow;
}
body{
   widows: 10ing;
}



.size_pixel{ font-size:10px;}

.size_em { font-size: 10em;}

.size_rem { font-size: 10rem;}

.size_pt {font-size: 10pt;}

.size_porciento {font-size: 10%;}

.size_ex {font-size: 10ex;}


.size_cm{
    width: 5cm;
    height: 5cm;
    background: red;
    margin: 1cm;
}

.size_mm {
    width: 5mm;
    height: 5mm;
    background: red;
    margin: 1mm;
}

.size_pt {
    width: 5pt;
    height: 5pt;
    background: red;
    margin: 1pt;
}


.size_in {
    width: 5in;
    height: 5in;
    background: red;
    margin: 1in;
}